body {
    font-family: 'Roboto', Arial, serif;
}

header {
    display: flex;
    justify-content: space-between;
}

aside {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    color: #fff;
    background-color: #e5f2e2;
    text-align: center;
    width: 300px;
    height: 100%;
}

footer {
    text-align: center;
}

/*--------- GLOBAL SECTION ----------*/
.block-blue {
    background-color: #373867;
    color: white;
}
  
.block-grey {
    background-color: #d9d9d9;
    color: black;
}
  
.block-green {
    background-color: #aace9b;
    color: white;
}

h1, .contact-heading, .aside a, .history h2 {
    text-transform: uppercase;
}

.main h1, .main h2, .form h2, .history h2, .memberships h2 {
    font-weight: bold;
}

/*--------- HEADER SECTION ----------*/
.hamburguer {
    width: 30px;
    height: 30px;
    margin: 10px;
}

.megalogo {
    width: 150px;
    height: 30px;
    margin: 10px;
}

/*---------- ASIDE SECTION ----------*/
.menu-heading {
    color: #000;
    font-size: 30px;
    padding: 5px;
    margin: 5px;
}

.aside nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.aside nav ul li {
    border: 1px #000 solid;
    background-color: #49a37b;
    text-align: center;
    width: 150px;
    padding: 10px;
    margin: 10px;
    border-radius: 12px;
}

.aside a {
    text-decoration: none;
    color: #fff;
}

.aside nav ul li a:hover{
    color: #373867;
    margin-left: 3px;
    transition: 0.4s;
}

.sidebar-block h2 {
    font-size: 20px;
    padding: 5px 5px 10px 5px;
    margin: 5px;
}

.sidebar-block {
    border: 1px #000 solid;
    border-radius: 12px;
    height: 400px;
    background-color: #49a37b;
    padding: 20px;
    margin: 20px;
}

.aside img {
    width: 50px;
    height: 50px;
    padding: 10px;
}

.sidebar-container ul {
    display: flex;
    flex-direction: column;
}

.sidebar-container ul li {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
}

.sidebar-container ul li span {
    width: 180px;
    align-content: center;
}

/*---------- MAIN SECTION ----------*/
.main {
    text-align: center;
}

.main p {
    padding: 10px;
    margin: 10px;
}

.main h2 {
    font-size: 27px;  
}

.main h1 {
    font-size: 35px;
    padding: 10px;
    margin: 0;
}

.gymbro {
    width: 150px;
    height: 150px;
}

/*---------- SERVICES SECTION --------*/
.services {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.first, .second {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.services img {
    width: 80px;
    height: 80px;
}

.services h2 {
    text-align: center;
    border: 1px #000 solid;
    padding: 8px 20px;
    margin: 5px 0;
    border-radius: 4px;
    background-color: #88a47c;
    width: 180px;
}

.services p {
    display: none;
}

/*---------- FORM SECTION ------------*/
.form h2 {
    text-align: center;
    font-size: 2em;
    padding: 5px;
    letter-spacing: 3px;
}

.form-1 {
    display: flex;
    flex-direction: column;
}

.form-1 input, .form-1 select, .form-1 option {
    padding: 5px;
    margin: 10px 25px;
}

.form-2 {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}

.form-2 textarea {
    width: 100%;
    height: 130px;
    padding: 5px;
    margin: 20px 25px 10px 25px;
}

.form-2 button {
    display: flex;
    justify-content: space-around;
    font-size: 20px;
    padding: 5px;
    margin-bottom: 10px;
    background-color: #49a37b;
    border-radius: 12px;
    border: #000 2px solid;
}

.form-2 button img {
    width: 20px;
    height: 20px;
}

.form ::placeholder, option, select {
    color: #49a37b;
}

.form textarea::placeholder {
    font-size: 17px;
}

/*---------- HISTORY SECTION --------*/
.history {
    text-align: center;
}

.history h2{
    font-size: 2em;
    padding: 15px 0 0 0;
    margin: 0;
}
  
.history p {
    padding: 15px;
    font-size: 1.2em;
    text-align: justify;
}

/*-------- MEMBERSHIPS SECTION --------*/

.memberships h2 {
    text-align: center;
    font-size: 1.3em;
    padding: 8px 5px 8px 5px;
}

.memberships ol {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.memberships ol li {
    list-style-type: decimal;
    padding: 3px 0;
    width: 100px;
}

.memberships ul {
    margin: 0 15px;
    padding: 4px 25px;
}

.activities-boxes ul li {
    list-style-type: circle;
    padding: 3px 0;
}

.box-1 h2 {
    font-size: 1.8em;
}

.box-1 li {
    font-size: 1.1em;
}

/*------------ FOOTER SECTION --------*/
.footer p {
    color: #000;
    padding: 10px 5px;
}
  
.footer img {
    width: 30px;
    height: 30px;
    padding: 0 5px 5px 5px;
    margin: 0 5px;
}

/*---------- MEDIA SECTION ---------*/
@media screen and (min-width: 600px) {
    .main {
        display: flex;
        justify-content: space-between;
        text-align: left;
    }

    .main h1 {
        padding: 15px;
    }

    .main h2 {
        padding: 10px 15px;
    }

    .main p {
        padding: 10px;
        margin: 3px 10px;
    }

    .gymbro {
        float: right;
        align-self: flex-end;
    }

    .services {
        flex-direction: row;
        flex-wrap: wrap;
        flex-grow: 1;
        align-items: unset;
    }
    
    .first, .second {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: unset;
        width: 50%;
        height: 50%;
    }

    .services h2 {
        height: 25px;
        align-self: center;
        padding: 8px 3px 5px 3px;
        margin: 5px;
    }

    .services p {
        display: block;
        padding: 5px 10px;
        margin: 0 10px;
        width: 308px;
        height: 120px;
        line-height: 1.2em;
    }

    .services img {
        padding: 5px;
    }
}

@media screen and (min-width: 1024px) {
    body {
        margin-left: 300px;
    }

    aside {
        display: block;
    }

    .sidebar-container ul {
        display: flex;
        flex-direction: column;
    }
    
    .sidebar-container ul li {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 5px;
        margin: 5px;
    }
    
    .sidebar-container ul li span {
        width: 170px;
    }
}