<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up</title>
    <link rel="stylesheet" type="text/css" href="../css/reset.css">
    <link rel="stylesheet" type="text/css" href="../css/header.css">
    <link rel="stylesheet" type="text/css" href="../css/footer.css">
    <link rel="stylesheet" type="text/css" href="../css/sign-up.css">
    <link rel="icon" type="image/x-icon" href="../../Assets/images/favicon.ico">
</head>
<body>
    <header id="header" class="header block-blue">
        <img class="megalogo" src="../../Assets/images/megalogo.png" alt="megarocket logo">
      </header>
    <main>
        <div class="container">
            <a href="index.html"><img src="../../Assets/images/back-button.svg" class="back-button" alt="back button"></a>
            <h1>Sign up</h1>
            <form>
                <div class="form-left">
                    <label>Name</label>
                    <input id="name" type="text" name="name">
                    <label>Last name</label>
                    <input id="last-name" type="text" name="last-name">
                    <label>Email</label>
                    <input id="email" type="text" name="email">
                    <label>Date of birth</label>
                    <input id="birth" type="date" name="birth">
                    <label>DNI</label>
                    <input id="dni" type="text" name="dni">
                </div>
                <div class="form-right">
                    <label>Telephone</label>
                    <input id="telephone" type="tel" name="telephone">
                    <label>Adress</label>
                    <input id="adress" type="text" name="adress">
                    <label>City</label>
                    <input id="city" type="text" name="city">
                    <label>Zip code</label>
                    <input id="zip-code" type="text" name="zip-code">
                    <label>Password</label>
                    <input id="password" type="password" name="password">
                    <label>Repeat Password</label>
                    <input id="repeat-password" type="password" name="repeat-password">
                </div>
            </form>
        </div>
        <input type="submit" name="continue" value="Continue">
        <footer id="footer" class=" footer block-green">
            <p>Copyright © 2023 MegaRocket SA. All rights reserved.</p>
            <a href="https://www.youtube.com/watch?v=DUIP-TOxbQs" target="_blank"><img src="../../Assets/images/facebook.png"
                alt="facebook logo"></a>
            <a href="https://www.youtube.com/watch?v=DUIP-TOxbQs" target="_blank"><img src="../../Assets/images/instagram.png"
                alt="instagram logo"></a>
            <a href="https://www.youtube.com/watch?v=DUIP-TOxbQs" target="_blank"><img src="../../Assets/images/linkedin.png"
                alt="linkedin logo"></a>
        </footer>
    </main>
</body>
</html>